<!doctype html>
<html>

<style>
    .box {
        width: 300px;
        height: 450px;
        border: 1px solid black;
        padding: 10px;
        margin: 10px;
      }
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
    }
</style>

<title>Movie Recommender</title>

<!-- Reference: https://github.com/yukti99/Movie-Recommendation-Flask-App/blob/master/templates/index.html -->

<h1>Movies you may like:</h1>


<script> 
             
      
    const options = {
       method: 'GET',
       headers: {
       accept: 'application/json',
       Authorization: 'Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJmMzUxYTEwMjZiMDU3NTMyZDIyNTQ4MGE2OTUzZmU5MCIsInN1YiI6IjY1YTQ5N2UxNjBjNTFkMDEyODVhZWQ4YiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.QZ76efhsYyGqwYLYZ486rGLCiQydUXQYIgY8-gQUEOo'
       }
   }; 
</script>

<!--NOTE: each value in the recs_data dict is the index of the movie in the dataframe-->
<div class="grid-container">
    {%for movie_index in recs_data%} 
        
        <div class="box" id="image_{{movie_index}}"></div>

        <!--{{recs_data[movie_index]}}-->

        <!-- use TMDB API to get movie posters-->
            <script>
        
            /*
            const options = {
                method: 'GET',
                headers: {
                accept: 'application/json',
                Authorization: 'Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJmMzUxYTEwMjZiMDU3NTMyZDIyNTQ4MGE2OTUzZmU5MCIsInN1YiI6IjY1YTQ5N2UxNjBjNTFkMDEyODVhZWQ4YiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.QZ76efhsYyGqwYLYZ486rGLCiQydUXQYIgY8-gQUEOo'
                }
            };  */
            fetch('https://api.themoviedb.org/3/search/movie?query={{recs_data[movie_index]['clean_title']}}', options)
                .then(response => response.json())
                .then((response) => {
                    console.log(response); //testing
                    console.log(response["results"][0]["original_title"]); //testing
                    var poster_path = response["results"][0]["poster_path"];
                    console.log(poster_path); //testing
                    
                    var poster_url = "url('https://image.tmdb.org/t/p/original" + poster_path + " ')";
                    
                    //set the poster as background image
                    document.getElementById('image_{{movie_index}}').style.backgroundImage = poster_url;
                    document.getElementById('image_{{movie_index}}').style.backgroundRepeat = "no-repeat";
                    document.getElementById('image_{{movie_index}}').style.backgroundSize = "cover";

                })
                .catch(err => console.error(err));

        </script>
            
    {%endfor%} 
</div>




</html>
